body{
  margin: 0;
  padding: 0;
  font-family: "MMB" !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main{
  height: 202vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  }

/* ----- Alles was in Section One liegt -----*/

.sectionOne{
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-bottom: 4px;
  justify-content: center;
  overflow: hidden;
  animation-name: einblenden;
  animation-duration: 8s;
}


.sectionOne::before{
  position: absolute;
  content: "";
  background: rgba(153, 196, 212, 0.45);
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.mainMov{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: contrast(99%);
}

.logoUndBtn{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.logoUndBtn p{
  color: white;
  font-family: MMB;
  position: relative;
  top: -5.6%;
  font-size: 21px;
  text-transform: uppercase;
}

.logo{
  position: relative;
  height: auto;
  width: 29rem;
  top: -5.3%;
  margin-bottom: 9px;
  padding: 8px;
}

/* Tell us about your swimming pool*/
.buttonDiv, .verificationButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
  top: -3%;
}

.verificationButtonDiv a .myBtn{
  color: #708fa2;
  border: 1px solid rgba(153, 196, 212, 0.45);
  transition: background-color 2s;
  font-family: MMB-Bold;
  position: relative;
  bottom: 44px;
}

.button, .verifyAPlaquetteBtn{
  text-decoration: none;
}

.myBtn{
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px 8px;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 15px;
  color: white;
  transition: background-color 2s;
  font-family: MMB-Bold;
}

/*Scroll down Pfeile*/
.arrows, .arrowsMobile {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 7rem;
}

.arrowsMobile{
  display: none;
}

.arrows path, .arrowsMobile path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows path.a1, .arrowsMobile path.a1  {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2, .arrowsMobile path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3, .arrowsMobile path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*-----Alles was in Section Tow liegt------*/

.sectionTow{
position: relative;
padding: 0;
margin: 0;
width: 100vw;
height: 100vh;
overflow: hidden;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
animation-name: einblenden;
animation-duration: 10s;
}

/*Slideshow*/

/*Progressbar*/
.carousel-inner{
  z-index: 1;
}

.carousel-indicators [data-bs-target] {
position: relative;
display: flex;
justify-content: space-between;
width: 300px;
height: 5px;
border: none;
border-radius: 24px;
background-color: gray;
}

.carousel-indicators [data-bs-target] span {
content: "";
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background: white;
border-radius: inherit;
}

/*die Darstellung der Bilder in der Slideshow*/
.carousel-item img{
height: 98vh;
width: 100vw;
object-fit: cover;
pointer-events: none;
}

/*Slideshow beschriftung*/
.carousel-caption{
bottom: 9%;
right: 0;
left: 6%;
text-align: left;
padding: 0;
}

.carousel-control-next, .carousel-control-prev {
  width: 9%;
  top: 50%;
  bottom: initial;
}

.carousel-caption h5{
font-size: 3rem;
pointer-events: none;
}

.vorschauText{
	line-height: normal;
	height: 7rem;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.carousel-caption p{
font-size: 1.5rem;
}


/*Das Overlay wenn man den Button bei der Beschriftung klickt*/

.overlay {
position: fixed;
display: none;
width: 100%;
height: 100%;
overflow-x: scroll;
justify-content: center;
align-items: center;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: linear-gradient(-15deg,rgb(15,59,92,255) 0%, rgba(239,252,254,255) 100%);
z-index: 5;
cursor: pointer;

}

.textUndImg{
  display: contents;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.textContainer{
text-align: center;
position: relative;
height: 41rem;
width: 33rem;
font-size: 1.5rem;
padding-top: 22px;
font-family: MMB;
color: #4e4e4e;
background-color: white;
border-radius: 25px;
margin-right: 20px;
}

.textContainer h1{
  color: #4c7088;
  margin-top: 10px;
}

.textContainer p{
  padding-left: 21px;
  padding-right: 20px;
}

.snowImg{
  display:flex;
  justify-content: center;
}

.snowImg img{
  height: auto;
  width: 2rem;
}

.cross{
  position: absolute;
  top: -10px;
  margin-left: 32rem;
}

img.cross{
  width: 2rem;
  height: auto;
}

.imgContainer{
position: relative;
height: 41rem;
width: 33rem;
border-radius: 25px;
object-fit: cover;
overflow: hidden;
}

.imgContainer img{
  height: 100%;
  width: 100%;
  border-radius: 18px;
}


.verificationButtonDiv{
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  /*Der Rest vom style siehe oben (.buttonDiv)*/
}

/*Footer Bereich*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 0vh;
}

.footer a{
  color: #666666;
  text-decoration: none;
}

.footerImg{
  display: flex;
  align-items: center;
}

.footerImg img{
  height: auto;
  width: 1.5rem;
}

.footerImg p{
  margin-top: auto;
  margin-bottom: auto;
  color: #666666;
  font-size: 0.6rem;
}



/*Keyframes*/

/*Section One Einblenden lassen*/
@keyframes einblenden {
  from{opacity: 0;}
  to{opacity: 1;}
}

/*Scroll down Pfeile*/
@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}



/*Media Querys für Hover*/

@media (hover:hover){
  /*Überschreibt die Einstellung von Bootstrap von blau zu weiß*/
  a:hover{
    color: white;
    }

  /*Let's Connect Button-Hover*/
    .myBtn:hover{
      background-color: #3f6780;
    }

  .verificationButtonDiv a .myBtn:hover{
    background-color: #708fa2;
  }

}







/*------Media Querys für Breite-------*/

/* Extra small devices (phones, 530px and down) */
@media only screen and (max-width: 530px) {

  .main{
    height: 203vh;
  }

  .sectionOne{
    height: 100vh;
  }

  .logoUndBtn p{
    font-size: 13px;
  }

  .logo{
    width: 17rem;
  }

  .buttonDiv{
    top: -5%;
  }

  .arrows{
    display: none;
  }

  .arrowsMobile{
    display: initial;
    bottom: 8rem;
  }

  .myBtn{
    font-size: 8px;
  }

  .carousel-caption{
    bottom: 6.9%;
    left: 11%;
  }

  .carousel-caption h5{
    font-size: 1.8rem;
    margin-bottom: unset;
  }

  .vorschauText{
    height: 3.5rem;
    margin-bottom: 0;
  }

  .carousel-caption p{
    font-size: .9rem;
  }

  .carousel-indicators [data-bs-target] {
    height: 4px;
  }

  .carousel-control-next, .carousel-control-prev {
    display: none;
  }


  .textContainer{
    position: absolute;
    width: 18rem;
    height: 29rem;
    font-size: 0.8rem;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    box-shadow: none;
  }

  .textContainer h1{
    margin-top: 10px;
    margin-bottom: 26px;
  }

  .textContainer p{
    padding-left: 17px;
    padding-right: 12px;
  }

  .cross{
    margin-left: 17rem;
  }

  .imgContainer{
    position: absolute;
    width: 18rem;
    height: 29rem;
    left: calc(50% + (18rem + 3px));
    padding:0 10px;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    box-shadow: none;
  }

  .footerImg img{
    width: 0.8rem;
    margin-bottom: 2px;
  }

  .footer a{
    font-size: 0.8rem;
  }
}


@media only screen and (min-width: 531px) and (max-width: 680px) {
 
  .main{
    height: 204vh;
  }

  .logo{
    width: 18rem;
  }

  .logoUndBtn p{
    font-size: 13px;
  }

  .arrows{
    display: none;
  }

  .arrowsMobile{
    display: initial;
    bottom: 5rem;
  }

  
  .carousel-caption{
    bottom: 7%;
  }

  .carousel-caption h5 {
    font-size: 1.5rem;
}

  .carousel-caption p{
    font-size: 1rem;
  }

  .vorschauText{
    height: 3.5rem;
  }

  .myBtn{
    font-size: 11px;
  }

  .textContainer{
    position: absolute;
    width: 20rem;
    height: 30rem;
    font-size: 1rem;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    box-shadow: none;
  }

  .textContainer h1{
    margin-top: 16px;
  }

  .cross{
    margin-left: 19rem;
  }

  .imgContainer{
    position: absolute;
    width: 20rem;
    height: 30rem;
    left: calc(50% + (20rem + 3px));
    padding:0 10px;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    box-shadow: none;
  }

  .footer{
    height: 1rem;
  }
}

@media only screen and (min-width: 681px) and (max-width:1109px) {
  
  .logo{
    width: 19rem;
  }

  .logoUndBtn p{
    font-size: 14px;
  }

  .arrows{
    bottom: 6rem;
  }

  .carousel-caption{
    bottom: 7%;
  }

  .carousel-caption h5 {
    font-size: 2rem;
}

  .carousel-caption p{
    font-size: 1.2rem;
  }

  .vorschauText{
    height: 4.3rem;
  }

  .myBtn{
    font-size: 11px;
  }

  .textContainer{
    width: 20rem;
    height: 30rem;
    font-size: 0.9rem;
    margin-right: 8px;
  }

  .textContainer p {
    padding-left: 15px;
    padding-right: 15px;
}

  .cross{
    margin-left: 19rem;
  }

  .imgContainer{
    width: 20rem;
    height: 30rem;
  }

  .footerImg img{
    width: 1rem;
  }

  .footer a{
    font-size: 12px;
  }

}



@media only screen and (min-width: 1110px) and (max-width: 1300px) {

  .main{
    height: 204vh;
  }

  .logo{
    width: 22rem;
  }

  .logoUndBtn p{
    font-size: 17px;
  }

  .arrows{
    bottom: 4rem;
  }

  .carousel-caption{
    bottom: 7%;
  }

  .carousel-caption h5 {
    font-size: 2rem;
  }

  .carousel-caption p{
    font-size: 1.2rem;
  }

  .vorschauText{
    height: 4.3rem;
  }

  .textContainer h1{
    font-size: 2rem;
  }

  .textContainer{
    width: 24rem;
    height: 36rem;
    font-size: 1.1rem;
  }

  .cross{
    margin-left: 23rem;
  }

  .imgContainer{
    width: 24rem;
    height: 36rem;
  }

  .footer{
    height: 1rem;
  }

}

@media only screen and (min-width: 1301px) and (max-width: 1999px){
  
  .main{
    height: 204vh;
  }

  .logo{
    width: 22rem;
  }

  .logoUndBtn p{
    font-size: 17px;
  }

  .arrows{
    bottom: 14rem;
  }

  .carousel-caption{
    bottom: 7%;
  }

  .carousel-caption h5 {
    font-size: 2rem;
}

  .carousel-caption p{
    font-size: 1.2rem;
  }

  .vorschauText{
    height: 4.3rem;
  }
  
  .textContainer{
    width: 25rem;
    height: 36rem;
    font-size: 1.13rem;
  }

  .cross{
    margin-left: 24rem;
  }

  .imgContainer{
    width: 25rem;
    height: 36rem;
  }

  .footer{
    height: 1rem;
  }

}

@media only screen and (min-width: 2000px) {

  .main{
    height: 204vh;
  }

  .carousel-caption h5{
    font-size: 4rem;
  }

  .carousel-caption p{
    font-size: 2rem;
  }

  .textContainer{
    width: 26rem;
    height: 41rem;
    font-size: 1.2rem;
  }

  .textContainer h1{
    margin-bottom: 28px;
  }

  .cross{
    margin-left: 25rem;
  }

  .imgContainer{
    width: 26rem;
    height: 41rem;
  }

  .footer{
    height: 1rem;
  }
}

@media (orientation: landscape) and (max-height: 500px){

  .main{
    height: 206vh;
  }
  
  .logo{
    width: 30%;
  }

  .logoUndBtn p{
    font-size: 7px;
  }

  .arrows{
      bottom: -2rem;
    }

  .myBtn{
    font-size: 10px;
  }

  .carousel-caption h5{
    font-size: 2rem;
  }

  .vorschauText{
    height: 5rem;
  }

  .textContainer{
    padding-top: 10px;
    height: 22rem;
    width: 16rem;
    font-size: 0.7rem;
    position: relative;
    transform: translate(0, 0);
    left: 0;
    margin-right: 8px;
  }

  .textContainer h1 {
    margin-top: 10px;
    font-size: 1.6rem;
}

  .snowImg img{
    width: 2rem;
  }

  .cross{
    margin-left: 15rem;
    top: -1%;
  }

  img.cross{
    width: 1.2rem;
  }

  .verificationButtonDiv{
    margin-top: 3rem;
  }

  .imgContainer{ 
    height: 22rem;
    width: 16rem;
    transform: translate(0 ,0);
    position: relative;
    left: 0;
    padding: 0;
  }

  .footer{
    height: 1rem;
  }
}

